<div class="side-section-container">
  <h3>Your Chats:</h3>

  <!-- create new chat button -->
  <div *ngIf="!createGroupChatForm">
    <button class="action-button" (click)="toggleGroupChatForm()">
      Create New Chat
    </button>
    <app-display-chat-list></app-display-chat-list>
  </div>

  <!-- create group chat form -->
  <div *ngIf="createGroupChatForm" class="create-group-chat-form">
    <button class="action-button" (click)="toggleGroupChatForm()">
      Discard
    </button>
    <app-create-group-chat-form
      [toggleGroupChatForm]="toggleGroupChatForm"
    ></app-create-group-chat-form>
  </div>
</div>
