<mat-card class="chat-container" *ngIf="activeChat">
  <!-- chat header section -->
  <div class="chat-header">
    <div *ngIf="this.promoteMembers">
      <mat-card class="participants-container">
        <ng-container
          *ngFor="let participant of participants; let last = last"
          class="participant-item"
        >
          <h3>
            {{ participant.user.name }}
          </h3>
          <button
            mat-raised-button
            color="primary"
            *ngIf="!inActiveChatAdmins(participant.user._id)"
            (click)="promoteToAdmin(participant.user._id)"
            class="action-button"
          >
            Promote
          </button>
          <span *ngIf="!last">, </span>
        </ng-container>
      </mat-card>
    </div>

    <div *ngIf="!this.promoteMembers">
      <h3 class="participants-container">
        <ng-container *ngFor="let participant of participants; let last = last">
          {{ participant.user.name }}
          <button
            mat-fab
            color="primary"
            *ngIf="!inUserContacts(participant.user._id)"
            (click)="addToContacts(participant.user.email)"
            title="Add to Contacts"
            class="add-to-contacts-fab"
          >
            +
          </button>
          <span *ngIf="!last">, </span>
        </ng-container>
      </h3>
    </div>
    <div *ngIf="showChatControlButton()" class="chat-buttons">
      <!-- <button
        mat-raised-button
        color="primary"
        class="action-button settings-button"
        (click)="toggleChatControls()"
      >
        Chat Controls
      </button> -->

      <!-- <mat-slide-toggle (change)="toggleChatControls($event)"
        >Chat Controls</mat-slide-toggle
      > -->

      <mat-expansion-panel class="chat-controls-container">
        <mat-expansion-panel-header class="chat-controls-header">
          <mat-panel-title class="chat-controls-title">Chat Settings</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="chat-controls">
          <button
            mat-raised-button
            color="primary"
            *ngIf="
              activeChat.admins &&
              inActiveChatAdmins(currentUser._id)
            "
            (click)="toggleAddNewMember()"
            class="action-button"
          >
            Add New Member
          </button>

          <button
            mat-raised-button
            color="primary"
            *ngIf="
              activeChat.admins &&
              inActiveChatAdmins(currentUser._id) &&
              !this.promoteMembers
            "
            (click)="togglePromoteMembers()"
            class="action-button"
          >
            Promote Members
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="
              activeChat.admins &&
              inActiveChatAdmins(currentUser._id) &&
              this.promoteMembers
            "
            (click)="togglePromoteMembers()"
            class="action-button"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            *ngIf="activeChat.name && !onlyAdmin()"
            (click)="leaveChat()"
            class="action-button warning-button"
          >
            Leave Chat
          </button>
          <button
            mat-raised-button
            color="warn"
            *ngIf="activeChat.admins && inActiveChatAdmins(currentUser._id)"
            (click)="deleteChatRoom(activeChat._id)"
            class="action-button danger-button"
          >
            Delete Chatroom
          </button>
        </div>
      </mat-expansion-panel>

      <!-- <div class="chat-controls" *ngIf="chatControls">
        <button
          mat-raised-button
          color="primary"
          *ngIf="
            activeChat.admins &&
            inActiveChatAdmins(currentUser._id) &&
            !this.promoteMembers
          "
          (click)="togglePromoteMembers()"
          class="action-button"
        >
          Promote Members
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="
            activeChat.admins &&
            inActiveChatAdmins(currentUser._id) &&
            this.promoteMembers
          "
          (click)="togglePromoteMembers()"
          class="action-button"
        >
          Back
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="activeChat.name && !onlyAdmin()"
          (click)="leaveChat()"
          class="action-button warning-button"
        >
          Leave Chat
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="activeChat.admins && inActiveChatAdmins(currentUser._id)"
          (click)="deleteChatRoom(activeChat._id)"
          class="action-button danger-button"
        >
          Delete Chatroom
        </button>
      </div> -->
    </div>
  </div>

  <!-- list of chat messages -->
  <mat-card class="chat-messages">
    <div class="message-container" *ngFor="let message of messages">
      <mat-card *ngIf="!sentByUser(message)" class="participant-message">
        <div class="message-sender">
          {{ getMessageSenderName(message.sender) }}:
        </div>
        <div class="message-content">{{ message.text }}</div>
      </mat-card>
      <mat-card *ngIf="sentByUser(message)" class="user-message">
        <div class="message-sender">
          {{ getMessageSenderName(message.sender) }}:
        </div>
        <div class="message-content">{{ message.text }}</div>
      </mat-card>
    </div>
    <div *ngIf="messages.length === 0" class="no-messages">
      <div class="no-message-text">Send a message to get started</div>
    </div>
  </mat-card>

  <!-- chat input section -->
  <div class="chat-input-container">
    <textarea
      type="text"
      matInput
      rows="4"
      [(ngModel)]="messageText"
      placeholder="Type your message..."
      cdkTextareaAutosize
      class="chat-input"
      (keydown.enter)="sendMessage()"
    ></textarea>
    <button
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
      type="submit"
    >
      Send
    </button>
  </div>
</mat-card>

<mat-card class="chat-container" *ngIf="!activeChat">
  <div class="no-chat-selected"><h2>No chat selected</h2></div>
</mat-card>
