<div class="chat-container" *ngIf="activeChat">
  <!-- chat header section -->
  <div class="chat-header">
    <div *ngIf="this.promoteMembers">
      <h3 class="participants-container">
        <ng-container
          *ngFor="let participant of participants; let last = last"
          class="participant-item"
        >
          {{ participant.user.name }}
          <button
            *ngIf="!inActiveChatAdmins(participant.user._id)"
            (click)="promoteToAdmin(participant.user._id)"
            class="action-button"
          >
            Promote
          </button>
          <span *ngIf="!last">, </span>
        </ng-container>
      </h3>
    </div>

    <div *ngIf="!this.promoteMembers">
      <h3 class="participants-container">
        <ng-container *ngFor="let participant of participants; let last = last">
          {{ participant.user.name }}
          <button
            *ngIf="!inUserContacts(participant.user._id)"
            (click)="addToContacts(participant.user.email)"
            title="Add to Contacts"
          >
            +
          </button>
          <span *ngIf="!last">, </span>
        </ng-container>
      </h3>
    </div>
    <div *ngIf="showChatControlButton()" class="chat-buttons">
      <button
        class="action-button settings-button"
        (click)="toggleChatControls()"
      >
        Chat Controls
      </button>
      <div class="chat-controls" *ngIf="chatControls">
        <button
          *ngIf="
            activeChat.admins &&
            inActiveChatAdmins(currentUser._id) &&
            !this.promoteMembers
          "
          (click)="togglePromoteMembers()"
          class="action-button"
        >
          Promote Members
        </button>
        <button
          *ngIf="
            activeChat.admins &&
            inActiveChatAdmins(currentUser._id) &&
            this.promoteMembers
          "
          (click)="togglePromoteMembers()"
          class="action-button"
        >
          Back
        </button>
        <button
          *ngIf="activeChat.name && !onlyAdmin()"
          (click)="leaveChat()"
          class="action-button warning-button"
        >
          Leave Chat
        </button>
        <button
          *ngIf="activeChat.admins && inActiveChatAdmins(currentUser._id)"
          (click)="deleteChatRoom(activeChat._id)"
          class="action-button danger-button"
        >
          Delete Chatroom
        </button>
      </div>
    </div>
  </div>

  <!-- list of chat messages -->
  <div class="chat-messages">
    <div class="message-container" *ngFor="let message of messages">
      <div *ngIf="!sentByUser(message)" class="participant-message">
        <div class="message-sender">
          {{ getMessageSenderName(message.sender) }}:
        </div>
        <div class="message-content">{{ message.text }}</div>
      </div>
      <div *ngIf="sentByUser(message)" class="user-message">
        <div class="message-sender">
          {{ getMessageSenderName(message.sender) }}:
        </div>
        <div class="message-content">{{ message.text }}</div>
      </div>
    </div>
    <div *ngIf="messages.length === 0" class="no-messages">
      <div class="no-message-text">Send a message to get started</div>
    </div>
  </div>

  <!-- chat input section -->
  <div class="chat-input-container">
    <textarea
      type="text"
      rows="4"
      [(ngModel)]="messageText"
      placeholder="Type your message..."
      (keyup.enter)="sendMessage()"
      class="chat-input"
    ></textarea>
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>
</div>

<div class="no-chat-container" *ngIf="!activeChat">
  <div class="no-chat-selected">No chat selected</div>
</div>
