<div class="chat-container" *ngIf="activeChat">
  <div class="chat-header">
    <div *ngIf="this.promoteMembers">
      <h3>
        <ng-container *ngFor="let participant of participants; let last = last">
          {{ participant.name }}
          <button
            *ngIf="!activeChat.admins.includes(participant._id)"
            (click)="promoteToAdmin(participant._id)"
          >
            Promote to Admin
          </button>
          <span *ngIf="!last">, </span>
        </ng-container>
      </h3>
      <button (click)="togglePromoteMembers()">Cancel</button>
    </div>
    <div *ngIf="!this.promoteMembers">
      <h3>
        <ng-container *ngFor="let participant of participants; let last = last">
          {{ participant.name }}
          <span *ngIf="!last">, </span>
          <button
            *ngIf="!participant.inUserContacts"
            (click)="addToContacts(participant.email)"
          >
            Add to Contacts
          </button>
        </ng-container>
      </h3>
      <button
        *ngIf="activeChat.admins && activeChat.admins.includes(currentUser._id)"
        (click)="togglePromoteMembers()"
      >
        Promote Members
      </button>
    </div>
    <div>
      <button *ngIf="activeChat.name !== 'User-User'" (click)="leaveChat()">
        Leave Chat
      </button>
    </div>
    <div
      *ngIf="activeChat.admins && activeChat.admins.includes(currentUser._id)"
    >
      <button (click)="deleteChatRoom(activeChat._id)">Delete Chatroom</button>
    </div>
  </div>

  <div class="chat-messages">
    <!-- list of chat messages -->
    <div class="message" *ngFor="let message of messages">
      <div class="message-sender">{{ message.sender.name }}:</div>
      <div class="message-content">{{ message.text }}</div>
    </div>
    <div *ngIf="messages.length === 0" class="no-messages">
      Send a message to get started
    </div>
  </div>

  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="messageText"
      placeholder="Type your message..."
      (keyup.enter)="sendMessage()"
    />

    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>
</div>

<div class="chat-container" *ngIf="!activeChat">
  <div class="no-chat-selected">No chat selected</div>
</div>
