/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf0f1;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

.action-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #2980b9;
}

.create-button {
  background-color: #2ecc71;
}

.create-button:hover {
  background-color: #27ae60;
}

.warning-button {
  background-color: #e67e22;
}

.warning-button:hover {
  background-color: #d35400;
}

.danger-button {
  background-color: #e74c3c;
}

.danger-button:hover {
  background-color: #c0392b;
}

.settings-button {
  background-color: #dcdcdc;
  color: #333;
  margin: 10px 0px;
}

.settings-button:hover {
  background-color: #c0c0c0;
}

.side-section-container {
  width: 20vw;
  height: 80vh;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}
