<div class="chat-list">
  <div *ngIf="currentUser">
    <div *ngIf="isChatRoomObjectArray(currentUser.chatrooms)">
      <div
        *ngFor="let chatroom of currentUser.chatrooms"
        (click)="setActiveChat(chatroom)"
      >
        <div *ngIf="chatroom.name" class="chat-list-item">
          {{ chatroom.name }}
        </div>

        <div *ngIf="!chatroom.name" class="chat-list-item">
          <div class="participant-names">
            <span
              *ngFor="
                let participant of getNonUserParticipants(chatroom);
                let lastParticipant = last
              "
            >
              {{ participant.user.name }}
              <span *ngIf="!lastParticipant && chatroom.participants.length > 2"
                >,
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
