<div class="chat-list">
  <div
    *ngFor="let chatroom of currentUser.chatrooms; let last = last"
    (click)="setActiveChat(chatroom)"
  >
    <div *ngIf="chatroom.name" class="chat-list-item">
      {{ chatroom.name }}
    </div>
    <div *ngIf="!chatroom.name" class="chat-list-item">
      <div class="participant-names">
        <span
          *ngFor="
            let participant of chatroom.filteredParticipants;
            let lastParticipant = last
          "
        >
          {{ participant.name }}
          <span *ngIf="!lastParticipant && chatroom.participants.length > 2"
            >,
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
