<div class="chat-list">
  <div
    *ngFor="let chatroom of currentUser.chatrooms; let last = last"
    (click)="setActiveChat(chatroom)"
  >
    <div *ngIf="chatroom.name" class="chat-list-item">
      {{ chatroom.name }}
    </div>
    <div *ngIf="!chatroom.name" class="chat-list-item">
      <div
        *ngFor="
          let participant of chatroom.participants;
          let lastParticipant = last
        "
      >
        <span *ngIf="participant._id !== currentUser._id">
          {{ participant.name }}
          <span *ngIf="!lastParticipant && chatroom.participants.length > 2"
            >,
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
