<div class="new-contact-form">
  <h2>Search for a user</h2>

  <form [formGroup]="searchForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="query"
        placeholder="Search users..."
      />
    </mat-form-field>
  </form>
  <mat-card class="found-users">
    <div *ngFor="let user of foundUsersList" class="found-user-item">
      <!-- <div *ngIf="!userInContacts(user) && !userIsCurrentUser(user)" class="found-user-item"> -->

      <div class="found-user-name">{{ user.name }}</div>

      <button
        mat-raised-button
        color="primary"
        (click)="addNewContact(user.email)"
      >
        Add Contact
      </button>
    </div>
  </mat-card>
</div>
