<div class="new-contact-form">
  <h2>Search for a user</h2>

  <h3>New form</h3>

  <form [formGroup]="searchForm">
    <input type="text" formControlName="query" placeholder="Search users..." />
  </form>
  <div class="found-users">
    <div *ngFor="let user of foundUsersList" class="found-user-item">
      <!-- <div *ngIf="!userInContacts(user) && !userIsCurrentUser(user)" class="found-user-item"> -->

      <div class="found-user-name">{{ user.name }}</div>

      <button mat-raised-button color="primary" (click)="addNewContact(user.email)">
        Add Contact
      </button>
    </div>
  </div>
</div>
