.contacts-list {
  /* height: 65vh; */
  overflow-y: auto;
  padding: 10px 5px 0px 5px;
  background-color: rgb(66, 66, 66);
  max-height: 62vh;
}

.contacts-list li {
  margin: 10px 0;
}

.contacts-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
