.create-group-chat-form {
  background-color: rgb(192, 192, 192);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0px;
  max-height: 80%;
}

.form-group {
  margin-bottom: 15px;
  padding-top: 5px;
}

/* Style the input and label */
.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* Style the participants list */
.participants-list {
  padding: 5px 5px 0px 5px;
  height: 45vh;
  overflow-y: auto;
  border: 3px solid rgb(66, 66, 66);
}

.contact-button {
  margin-left: 10px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(192, 192, 192);

  /* color: rgb(255, 255, 255); */
}

.create-chat-button {
  margin-top: 5px;
}